body
  font-family: 'Open Sans', sans-serif!important
  color #1d2123!important
  margin 0px!important
h1, h2, h3
  font-family 'Oswald', sans-serif!important

p
  margin 0px
a
  list-style-type none
  text-decoration none
  width 100%
  text-align center!important
  max-width 200px
  cursor pointer
a:hover
  background-color #ba14a9
  color white
  animation navTran 0.5s ease 0s 1
  @keyframes navTran
    0%
      background-color #111111
    100%
      background-color #ba14a9
.picture
  height 190px
  flex
  max-width: 10
.purple
  color #ba14a9

.white
  color white

#navMain
  background-color #111111!important
  color #f4f4f4!important
  height 60px!important
  display flex!important
  width 100%!important
  justify-content center!important
  opacity 0.9!important
  .order-first
    padding-top: 7px
.text
  padding-top 20px

footer
  text-align center
  background-color black
  opacity 0.9
  max-height 100%
  padding 10px


section
  h1
    text-align center
    font-size 500%
    background-color #111111
    color white
    opacity 0.9
    margin 0
    padding-top 50px

.title-bar
  font-family 'Oswald', sans-serif!important
  text-align center
  font-size 500%
  background-color #111111
  color white
  opacity 0.9
  margin 0

.padhold
  padding-top 15%
.padhold2
  padding 5% 0

.cost
  font-size 250%

#hero
  color white
  text-align center
  min-height 100%
  max-width 100%
  background-image url(../images/index.jpg)
  background-repeat no-repeat
  background-size cover

.highlight
  h1
    font-size 500%
    background-color #111111
    opacity 0.9
    margin 10px
    padding 0px
  h3
    background-color #111111
    opacity 0.9
    color white
    padding 10px
    text-align center
  p
    background-color #111111
    opacity 0.9
    font-size 100%
    color white
    padding 5px
#news
  background-size contain
  background red
  background linear-gradient(to bottom right, #ff33cc, #ff66ff)
#tickets
  color white
  text-align center
  min-height 100%;
  max-width 100%
  background-repeat no-repeat
  background-size cover
  background-image url(../images/tickets.jpg)
#experience
  background-size cover
  background-image url('../images/experience.jpg')
  background-repeat no-repeat
  min-height 100%
  max-width 100%

#information
  background-size contain
  background red
  background linear-gradient(to bottom right, #ff9933, #ff6600)
#lineup
  background-size contain
  padding 0 0 30 0
  background red
  background linear-gradient(to bottom right, #33ccff, #3399ff)
  text-align center

  .artist1
    background-image url(../images/dragons.jpg)
  .artist2
    background-image url(../images/ant.jpg)
  .artist3
    background-image url(../images/temper.jpg)
  .artist4
    background-image url(../images/pilots.jpg)
  .artist5
    background-image url(../images/storm.jpeg)
  .artist6
    background-image url(../images/jake.jpg)
  .artist7
    background-image url(../images/post.jpg)
  .artist8
    background-image url(../images/xx.gif)
  .artist9
    background-image url(../images/example.jpg)
#gallery
  background-size contain
  padding 0 0 30 0
  background red
  background linear-gradient(to bottom right, #33ccff, #3399ff)
  text-align center
  flex-wrap: wrap
  .gallery1
    background-image url(../images/1.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery2
    background-image url(../images/2.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery3
    background-image url(../images/3.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery4
    background-image url(../images/4.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery5
    background-image url(../images/5.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery6
    background-image url(../images/6.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery7
    background-image url(../images/7.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery10
    background-image url(../images/10.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery11
    background-image url(../images/11.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery12
    background-image url(../images/12.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery13
    background-image url(../images/13.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery14
    background-image url(../images/14.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery15
    background-image url(../images/15.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
  .gallery16
    background-image url(../images/16.jpg)
    background-size: 400px 200px
    background-repeat: no-repeat;
.circle
    height 300px
    width 300px
    border-radius 50%
.req
    height 200px
    width 400px
    margin 20px
.flex
  display flex
.flex-center
  justify-content center
.flex-wrap
  flex-wrap wrap
  justify-content space-around
.slim
  max-width 1920px
  margin auto
.col-1
  margin 0 10px
  max-width 300px
  padding 0
.col-2, .col-3
  max-width 1200px

.logoMenu
  height 50px
  width 50px
  color white
  padding 7px
  cursor pointer
.logo
  height 300px
  width 300px
  padding 0 0 50 0
.block
  display: block;
.toggle
  display: none
.sticky
  position fixed
  left 0
  top 0
  z-index 100
  border-top 0

@media (max-width 768px)
  .hide
    display: none
  .toggle
    display: block
  #navSmall
    text-align: center!important
    width 70px!important
    background-color #111111!important
    height 60px!important
    padding-top: 5px
    opacity 0.9!important
    cursor: pointer
    margin-top 5px
  #navMain
    height 100%!important
    display flex!important
    border-style none!important
    text center!important
    max-width 300px!important
    flex-wrap wrap!important
  a
    display: flex;
    align-items: center;
    justify-content: center;
    max-width 100%
  .order-first
    order -3
    display: flex;
    align-items: center;
    justify-content: center;
  .text
    padding-top 0px

  .col-1
    max-width 90%
  section
    h1
      font-size 300%
  .highlight
    h1
      font-size 300%
    h3
      margin 10px 20%
    p
      margin 0px 20px
      font-size 90%
  .logo
    height 50%
    width 50%
