include nav
section#experience
  h1 EXPERIENCE
  .flex.flex-wrap.highlight.slim.padhold
    .col-1
      h3 BIGGEST FESTIVAL IN
        .purple PORTSMOUTH
      p Lorem ipsum dolor sit amet, dolor liberavisse vim ei, vim nulla probatus sensibus ut. Tamquam persius vel ea. Ea graeco corpora cum, in soluta volumus propriae sea. Sea modo labitur ut, labitur eruditi at cum. Vel sint utinam deterruisset et, vel tollit impetus maluisset cu.
    .col-1
      h3 THE
        .purple HOTTEST ARTISTS
          .white IN ONE PLACE
      p Lorem ipsum dolor sit amet, dolor liberavisse vim ei, vim nulla probatus sensibus ut. Tamquam persius vel ea. Ea graeco corpora cum, in soluta volumus propriae sea. Sea modo labitur ut, labitur eruditi at cum. Vel sint utinam deterruisset et, vel tollit impetus maluisset cu.
    .col-1
      h3
        .purple FIVE
          .white STAGES,
            .purple THREE
              .white DANCE PITS,
                .purple TWO
                  .white ROCK TENTS
                    .purple AND
                      .white A LOT OF HOT DOGS
    .col-1
      h3 HUGE
        .purple FOAM, POPCORN AND PAINT
          .white PARTIES!
      p Lorem ipsum dolor sit amet, dolor liberavisse vim ei, vim nulla probatus sensibus ut. Tamquam persius vel ea. Ea graeco corpora cum, in soluta volumus propriae sea. Sea modo labitur ut, labitur eruditi at cum. Vel sint utinam deterruisset et, vel tollit impetus maluisset cu.
    .col-1
      h3
        .purple BRING YOUR TENT
          .white CAMPING
      p Lorem ipsum dolor sit amet, dolor liberavisse vim ei, vim nulla probatus sensibus ut. Tamquam persius vel ea. Ea graeco corpora cum, in soluta volumus propriae sea. Sea modo labitur ut, labitur eruditi at cum. Vel sint utinam deterruisset et, vel tollit impetus maluisset cu.
include footer
