include nav
section#gallery
  h1 GALLERY
  .flex.slim.padhold2.flex-wrap
    .col-3
      .gallery1.req
    .col-3
      .gallery2.req
    .col-3
      .gallery3.req
    .col-3
      .gallery4.req
    .col-3
      .gallery5.req
    .col-3
      .gallery6.req
    .col-3
      .gallery7.req
    .col-3
      .gallery10.req
    .col-3
      .gallery11.req
    .col-3
      .gallery12.req
    .col-3
      .gallery13.req
    .col-3
      .gallery14.req
    .col-3
      .gallery15.req
    .col-3
      .gallery16.req
include footer
