include nav
section#hero.highlight
  .flex.flex-center.padhold
    .col-2
      .heroLogo.w3-animate-top
        img.logo(src='images/logo.svg')
      h1.w3-animate-bottom.title BE
        i.purple WILD
        | . BE
        i.purple FREE
        | .
      h3.w3-animate-bottom PURPLE FEST - PORTSMOUTH'S BIGGEST FESTIVAL
  .flex.flex-center.flex-wrap.slim.padhold2
    .col-1.w3-animate-zoom
      blockquote.twitter-tweet(data-lang='en')
        p(lang='en', dir='ltr')
        | **CONFIRMED** TWENTY ONE PILOTS
        a(href='https://twitter.com/PurpleFest') @PurpleFest
        |  THIS YEAR!!
        a(href='https://twitter.com/hashtag/Crazy?src=hash') #Crazy
        a(href='https://twitter.com/hashtag/LineUp?src=hash') #LineUp
        | — Purple Festival (@PurpleFest)
        a(href='https://twitter.com/PurpleFest/status/794375724501188609') November 4, 2016
    .col-1.w3-animate-zoom
      blockquote.twitter-tweet(data-lang='en')
        p(lang='en', dir='ltr')
          | Feeling bored? Want something to do? SEE STORMZY LIVE
          a(href='https://twitter.com/PurpleFest') @PurpleFest
          |  Get your tickets soon before they're all out!
          a(href='https://twitter.com/hashtag/Live?src=hash') #Live
          a(href='https://twitter.com/hashtag/Tickets?src=hash') #Tickets
        | — Purple Festival (@PurpleFest)
        a(href='https://twitter.com/PurpleFest/status/794374894188396544') November 4, 2016
    .col-1.w3-animate-zoom
      blockquote.twitter-tweet(data-lang='en')
        p(lang='en', dir='ltr')
          | WIN FREE TICKETS TO THE BIGGEST FESTIVAL IN PORTSMOUTH > Like and Retweet to WIN!
          a(href='https://twitter.com/hashtag/PurpleFest?src=hash') #PurpleFest
          a(href='https://twitter.com/hashtag/Free?src=hash') #Free
        | — Purple Festival (@PurpleFest)
        a(href='https://twitter.com/PurpleFest/status/791361516117327872') October 26, 2016
include footer
