include nav
section#lineUp
  h1 THE LINE UP
  .flex.flex-wrap.slim.padhold2
    .col-3.tmid
      h2 IMAGINE DRAGONS
      .artist1.circle
    .col-3.tmid
      h2 DIE ANTWOORD
      .artist2.circle
    .col-3
      h2 THE TEMPER TRAP
      .artist3.circle
    .col-3
      h2 TWENTY ONE PILOTS
      .artist4.circle
    .col-3
      h2 STORMZY
      .artist5.circle
  .flex.flex-wrap.slim.padhold2
    .col-3.tmid
      h2 JAKE BUGG
      .artist6.circle
    .col-3.tmid
      h2 POST MALONE
      .artist7.circle
    .col-3
      h2 THE XX
      .artist8.circle
    .col-3
      h2 EXAMPLE
      .artist9.circle

include footer
