html
  head
    link(href='css/style.css', rel='stylesheet')
    link(href='fonts/OpenSans-Regular.ttf', rel='stylesheet')
    link(href='fonts/Oswald-Regular.ttf', rel='stylesheet')
    link(rel='stylesheet', href='css/w3.css')
    link(rel='stylesheet', type='text/css', href='css/cookieconsent.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Portsmouths Biggest and Best Festival')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='biggest and best, purple festival, portsmouth festival, fun, party, music')

    title Purple Festival
  body
    .toggle
      #navSmall.sticky
        #close
          img.logoMenu(src='images/logoMenu.svg')
    .hide
      #navMain.sticky
        a(href='index.html')
          .text
            u N
            | ews
        a(href='experience.html')
          .text
            u E
            | xperience
        a(href='lineup.html')
          .text
            u L
            | ine up
        .order-first
            img.logoMenu(src='images/logoMenu.svg')
        a(href='information.html')
          .text
            u I
            | nformation
        a(href='gallery.html')
          .text
            u G
            | allery
        a(href='tickets.html')
          .text
            u T
            | ickets
